---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}




<style>
  .publications-label {
    background-color: #e0e0e0; /* light gray background */
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
  }
  .publications-item td {
    vertical-align: top;
    padding: 6px 12px;
  }
  .publications-content b {
    font-size: 1.05em;
  }
  table {
    border-collapse: collapse;
    border: none;
    font-size: 18px;
  }
  table td, table tr {
    border: none;
    padding: 4px 8px; /* optional: for nicer spacing */
    vertical-align: top;
  }
</style>

<table>
  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>Making LoRa Sensing Coexist with Communication</b>
      <br/>
      Binbin Xie, <u>Minhao Cui</u>, Deepak Ganesan, Jie Xiong
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2025</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>GPSense: Passive Sensing with Pervasive GPS Signals</b>
      <br/>
      Huixin Dong*, <u>Minhao Cui</u>*, Ning Wang, Lili Qiu, Jie Xiong, Wei Wang (*Equal contribution)
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2024</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>EVLeSen: In-Vehicle Sensing with EV-Leaked Signal</b>
      <br/>
      <u>Minhao Cui</u>, Binbin Xie, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2024</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label"> IMWUT/
                                        <br/>
                                        UbiComp</span>
    </td>
    <td class="publications-content">
      <b>AquaKey: Exploiting the Randomness of the Underwater Visible Light Communication Channel for Key Extraction</b>
      <br/>
      Lupeng Zhang, Pingchuan Wang, <u>Minhao Cui</u>, Jingwen Wei, Yu Tian, Jingchi Zhang, Jie Xiong, Lei Wang
      <br/>
      <i>ACM Interactive, Mobile, Wearable and Ubiquitous Technologies / ACM International Joint Conference on Pervasive and Ubiquitous Computing, 2024</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label"> IMWUT/
                                        <br/>
                                        UbiComp</span>
    </td>
    <td class="publications-content">
      <b>Wall Matters: Rethinking the Effect of Wall for Wireless Sensing</b>
      <br/>
      Binbin Xie, <u>Minhao Cui</u>, Deepak Ganesan, Jie Xiong
      <br/>
      <i>ACM Interactive, Mobile, Wearable and Ubiquitous Technologies / ACM International Joint Conference on Pervasive and Ubiquitous Computing, 2024</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>DancingAnt: Body-empowered Wireless Sensing Utilizing Pervasive Radiations from Powerline</b>
      <br/>
      <u>Minhao Cui</u>, Binbin Xie, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2023</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiHoc</span>
    </td>
    <td class="publications-content">
      <b>LeakageScatter: Backscattering LiFi-leaked RF Signals</b>
      <br/>
      Muhammad Sarmad Mir*, <u>Minhao Cui</u>*, Borja Genoves Guzman, Qing Wang, Jie Xiong, Domenico Giustiniano (*Equal contribution)
      <br/>
      <i>ACM International Symposium on Mobile Ad Hoc Networking and Computing, 2023</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiSys</span>
    </td>
    <td class="publications-content">
      <b>Boosting the Long Range Sensing Potential of LoRa</b>
      <br/>
      Binbin Xie, <u>Minhao Cui</u>, Deepak Ganesan, Xiangru Chen, Jie Xiong
      <br/>
      <i>ACM International Conference on Mobile Systems, Applications, and Services, 2023</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">SenSys</span>
    </td>
    <td class="publications-content">
      <b>Bracelet+: Harvesting the Leaked RF Energy in VLC with Wearable Bracelet Antenna</b>
      <br/>
      <u>Minhao Cui</u>, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Embedded Networked Sensor Systems, 2022</i>
      <br/>
      <span style="color:red;"><b>Best Paper Award (1/208)</b></span>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>RadioInLight: Doubling the Data Rate of VLC Systems</b>
      <br/>
      <u>Minhao Cui</u>, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2021</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">SenSys</span>
    </td>
    <td class="publications-content">
      <b>Breaking the Limitations of Visible Light Communication Through Its Side Channel</b>
      <br/>
      <u>Minhao Cui</u>, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Embedded Networked Sensor Systems, 2020</i>
      <br/>
    </td>
  </tr>

  <tr class="publications-item">
    <td class="publications-date">
      <span class="publications-label">MobiCom</span>
    </td>
    <td class="publications-content">
      <b>Sniffing Visible Light Communication Through Walls</b>
      <br/>
      <u>Minhao Cui</u>, Yuda Feng, Qing Wang, Jie Xiong
      <br/>
      <i>ACM Conference on Mobile Computing and Networking, 2020</i>
      <br/>
      <span style="color:red;"><b>Best Paper Honorable Mention Award (3/384)</b></span>
      <br/>
    </td>
  </tr>
</table>



<!-- <!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->


